
.menu {
    z-index: 2;
	padding: 25vh 40px 25vh 0px;
	background: gray;
	height: 100vh;
	position: fixed;
    list-style: none;
    color: white;
	left: -275px;
	transition: 0.4s ease;
	text-decoration: none;
	
}

.menu:hover{
	left: 0;
	transition: 0.5s ease;
}

nav ul li a {
	text-decoration: none;
}